/* Media Queries */

@media (min-width: 320px) {
    .container {
        padding-inline: 1rem;
        max-width: 320px;
    }

    .section {
        padding: 30px;
    }
}

/* XS */
@media (min-width: 475px) {
    .container {
        padding-inline: 2rem;
        max-width: 475px;
    }
}

/* SM */
@media (min-width: 640px) {
    .container {
        padding-inline: 2rem;
        max-width: 640px;
    }

}

/* MD */
@media (min-width: 768px) {
    .container {
        padding-inline: 2rem;
        max-width: 768px;
    }

    /* -- Hamburger Icon */
    .mbl-menu-icon {
        display: none;
    }

    .header-search {
        display: block;
    }

    .hero-content {
        width: 500px;
    }
    
    .hero-title {
        font-size: 5rem;
    }

    .hero-subtitle {
        font-size: 2rem;
    }

    .menu-bar {
        color: var(--clr-white);
        display: flex;
        gap: 40px;
    }

    .menu-bar.mblopen {
        position: relative;
        height: auto;
        background: none;
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .close-btn{
        display: none;
    }

    .about-card-img {
        width: 328px;
    }

    .about-content-wrapper {
        flex-direction: row;
    }
     
}

/* XL */
@media (min-width: 1280px) {
    .container {
        padding-inline: 2.5rem;
        max-width: 1280px;
    }

    .section {
        padding: 60px;
    }

    .hero-content {
        width: 800px;
    }

    .hero-title {
        font-size: 6rem;
    }

    #about-cards-wrapper-padding{
        padding: 140px 0px 0px 0px;
    }

    .resources-cards-wrapper{
        flex-wrap: nowrap;
    }
}

@media (min-width: 1366px) {
    .container {
        padding-inline: 2.5rem;
        max-width: 1366px;
    }

    .section {
        padding: 80px;
    }
}


/* 2XL */
@media (min-width: 1536px) {
    .container {
        padding-inline: 6rem;
        max-width: 1536px;
    }
}