/* Media Queries */

@media (min-width: 320px) {
    .container {
        padding-inline: 2rem;
        max-width: 320px;
    }

    .section{
        padding: 30px;
      }
}

/* XS */
@media (min-width: 475px) {
    .container {
        padding-inline: 2rem;
        max-width: 475px;
    }
}

/* SM */
@media (min-width: 640px) {
    .container {
        padding-inline: 2rem;
        max-width: 640px;
    }

}

/* MD */
@media (min-width: 768px) {
    .container {
        padding-inline: 2rem;
        max-width: 768px;
    }
           
}

/* XL */
@media (min-width: 1280px) {
    .container {
        padding-inline: 2.5rem;
        max-width: 1280px;
    }

    .section{
        padding: 60px;
      }

}

@media (min-width: 1366px) {
    .container {
        padding-inline: 2.5rem;
        max-width: 1366px;
    }

    .section{
        padding: 80px;
      }
}


/* 2XL */
@media (min-width: 1536px) {
    .container {
        padding-inline: 6rem;
        max-width: 1536px;
    }
}