/* || General Styles Starts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */

    --clr-primary: #F9F9FF;
    --clr-secondary: #F9F9FF;
    --clr-white: #ffff;

    /* Font Size */
    --text-xs: 1.2rem;
    /* 12px */
    --text-sm: 1.4rem;
    /* 14px */
    --text-base: 1.6rem;
    /* 16px */
    --text-lg: 1.8rem;
    /* 18px */
    --text-xl: 2rem;
    /* 20px */
    --text-2xl: 2.4rem;
    /* 24px */
    --text-3xl: 3rem;
    /* 30px */
    --text-4xl: 3.6rem;
    /* 36px */
    --text-5xl: 4.8rem;
    /* 48px */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    font-size: var(--text-base);
    cursor: pointer;
    color: inherit
}

li {
    list-style: none;
    font-size: var(--text-base);
}

/* || General Styles Ends */


/* Header Starts */

header {
    height: 90vh;
    background: linear-gradient(rgb(0, 41, 83, 80%), rgb(0, 45, 91, 80%)), url(../assets/hero/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-wrapper {
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;

}

.header-logo {
    height: 30px;
    width: 30px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

/* .header-logo {
    height: 44px;
    width: 44px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
} */

.logo-text {
    font-size: var(--text-2xl);
    font-weight: 600;
    color: var(--clr-white);
}

.logo-menu-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-menu {
    position: relative;
}

.menu-bar {
    display: none;
}

.menu-bar.mblopen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #252525;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 10;
}

.menu-bar li a {
    color: var(--clr-white);
    font-weight: 600;
}

.drop-menu i {
    margin-left: 8px;
    transition: 0.3s ease-in-out;
}

.drop-menu {
    position: relative;

    &:hover {
        .drop-items {
            display: flex;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: translateY(0px);
        }

        a i {
            transform: rotate(180deg);
        }
    }
}


.drop-items {
    border: 1px solid #EAECF0;
    border-radius: 8px;
    margin-top: 2px;
    position: absolute;
    left: -20px;
    padding: 24px 20px 24px 20px;
    width: 350px;
    background: var(--clr-white);
    display: none;
    flex-direction: column;
    gap: 40px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    transform: translateY(4px);
    z-index: 10;
}

.drop-item a {
    display: flex;
    gap: 16px;
    align-items: center;

    &:hover {
        opacity: 0.8;
    }
}

.drop-item img {
    height: 24px;
    width: 24px;
}

.drop-item-title {
    font-weight: 600;
    color: #000000;
}

.drop-item-desc {
    font-weight: 400;
    color: #000000;
    font-size: var(--text-sm);
    color: #667085;
    margin-top: 8px;
}

.header-search {
    display: none;
}

.header-search i {
    color: var(--clr-white);
}

/* -- Hamburger Icon */

.mbl-menu-icon {
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    z-index: 10;
}

.line {
    width: 35px;
    height: 1.8px;
    background: var(--clr-white);
    transition: 0.4s;
}

.line1.rotate {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}

.line3.rotate {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
}

.line2.rotate {
    opacity: 0;
    visibility: hidden;
}

/* Hero Starts */

.hero-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content {
    text-align: center;
    display: grid;
    gap: 20px;
    color: var(--clr-white);
    width: 320px;
}

.hero-title {
    font-size: 4rem;
    font-weight: 600;
}

.hero-subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    color: #E3E3E3;
}

.hero-action {
    padding: 16px 28px 16px 28px;
    border: 1px solid #FFE500;
    width: fit-content;
    margin-inline: auto;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(227, 227, 227, 10%);

    & i {
        margin-left: 4px;
    }
}


/* Campaigns Starts */

#campaigns {
    background: var(--clr-secondary);
}

.campaign-cards-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 27px;
}

.campaign-card {
    flex: 1 0 300px;
    border-radius: 20px;
    background: var(--clr-white);
}

.card-img {
    height: 352px;

    & img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-inline: auto;
    margin-block: 30px;
}

.card-content .card-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 21px;
    color: #24272E;
    font-family: "DM Sans", sans-serif;
    ;
}

.card-content .card-desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
    color: #7C7D82;
    font-family: "DM Sans", sans-serif;
    ;
}

/* About Starts */

.section-side-wrapper {
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.section-side-title {
    font-size: 3.2rem;
    font-weight: 600;
}

.section-side-subtitle {
    font-size: 2rem;
    font-weight: 400;
    line-height: 30px;
    color: #667085;
    text-align: left;
}

.about-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

.about-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
}


.about-card-img {
    height: 415px;
    overflow: hidden;
    border-radius: 16px;

    & img {
        transition: 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        img {
            transform: scale(1.20);
        }
    }
}

.about-image-card-title {
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 15px;
}



/* Testiminials Starts */

#testimonials {
    padding: 80px 0px 80px 0px;
    background: var(--clr-secondary);
}

.testimonials-img-wrapper {
    /* display: flex; */
    padding: 20px
}

.testimonials-img {
    width: 114px;
    height: 38px;
    margin-inline: auto;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: #585858 !important;
}


/* News Starts */

.news-cards-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.news-card {
    min-width: 357px;
    flex-basis: 30%;
    flex-grow: 1;
    border-radius: 20px;
    padding: 20px;
    background: var(--clr-secondary);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-card-img {
    height: 200px;

    & img {
        border-radius: 16px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.news-card-title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 36px;
}

.news-card-desc {
    font-size: 1.6rem;
    font-weight: 400;
    color: #505258;
    line-height: 24px;
}


/* Resources Starts */

#resources {
    background: var(--clr-secondary);
}

.resources-cards-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.resource-card {
    flex: 1 1 352px;
    border-radius: 20px;
    padding: 20px;
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resources-img-title-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.resource-card-img {
    height: 64px;
    width: 64px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.resource-card-title {
    font-size: 2.4rem;
    font-weight: 600;
}

/* Contact Starts */

.contact-form-wrapper {
    margin-top: 50px;
    max-width: 550px;
    margin-inline: auto;
}

.name-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.first-name {
    flex-basis: 100%;
}

.last-name {
    flex-basis: 100%;
}

.contact-form-wrapper input {
    margin-block: 10px;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 16%);
}

.message textarea {
    width: 100%;
    resize: none;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 16%);

}

.contact-bnt-wrapper {
    margin-top: 20px;
    text-align: center;
}

.contact-bnt {
    display: inline-block;
    border: 1px solid #1D6FA3;
    background: transparent;
    padding: 10px 16px 10px 16px;
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
    font-weight: 600;
}

/* Footer Starts */

.footer-top {
    background: linear-gradient(rgb(51, 135, 215, 90%), rgb(9, 49, 87, 90%)), url(../assets/images/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-right-wrapper {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.footer-logo-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.footer-logo {
    height: 44px;
    width: 44px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.footer-desc {
    color: var(--clr-white);
    font-size: var(--text-sm);
    line-height: 21px;
}

.footer-social-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 8px;
}

.single-icon {
    display: grid;
    place-items: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: var(--clr-white);
    transition: 0.1s linear;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}

.footer-links-wrapper {
    color: var(--clr-white);
}

.footer-links-title {
    margin-bottom: 20px;
}

.footer-links-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links-items li a {
    font-size: var(--text-sm);

    &:hover {
        opacity: 0.6;
    }
}

/* Footer Bottom Starts */

.footer-bottom {
    padding: 20px;
}

.footer-bottom-text {
    color: #7C7D82;
    font-size: var(--text-sm);

    &:hover {
        text-decoration: underline;
    }
}

.footer-bottom-logo {
    height: 25px;
    width: 105px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}