/* || General Styles Starts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */

    --clr-primary: #F9F9FF;
    --clr-secondary: #F9F9FF;
    --clr-white: #ffff;

    /* Font Size */
    --text-xs: 1.2rem;
    /* 12px */
    --text-sm: 1.4rem;
    /* 14px */
    --text-base: 1.6rem;
    /* 16px */
    --text-lg: 1.8rem;
    /* 18px */
    --text-xl: 2rem;
    /* 20px */
    --text-2xl: 2.4rem;
    /* 24px */
    --text-3xl: 3rem;
    /* 30px */
    --text-4xl: 3.6rem;
    /* 36px */
    --text-5xl: 4.8rem;
    /* 48px */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    font-size: var(--text-base);
    cursor: pointer;
    color: inherit
}

li {
    list-style: none;
    font-size: var(--text-base);
}

/* || General Styles Ends */


/* Header Starts */

header {
    height: 90vh;
    background: linear-gradient(rgb(0, 41, 83, 80%), rgb(0, 45, 91, 80%)), url(../assets/hero/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;

}

.header-logo {
    height: 44px;
    width: 44px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.logo-text {
    font-size: var(--text-2xl);
    font-weight: 600;
    color: var(--clr-white);
}

.logo-menu-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu-bar {
    color: var(--clr-white);
    display: flex;
    gap: 40px;
}

.menu-bar li a {
    color: var(--clr-white);
    font-weight: 600;
}

.drop-menu i {
    margin-left: 8px;
    transition: 0.3s ease-in-out;
}

.drop-menu {
    position: relative;

    &:hover {
        .drop-items {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: translateY(0px);
        }

        a i {
            transform: rotate(180deg);
        }
    }
}


.drop-items {
    border: 1px solid #EAECF0;
    border-radius: 8px;
    margin-top: 4px;
    position: absolute;
    left: 0;
    padding: 24px 20px 24px 20px;
    width: 412px;
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    gap: 40px;
    visibility: none;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    transform: translateY(4px);
    z-index: 10;
}

.drop-item a {
    display: flex;
    gap: 16px;
    align-items: center;

    &:hover {
        opacity: 0.8;
    }
}

.drop-item img {
    height: 24px;
    width: 24px;
}

.drop-item-title {
    font-weight: 600;
    color: #000000;
}

.drop-item-desc {
    font-weight: 400;
    color: #000000;
    font-size: var(--text-sm);
    color: #667085;
    margin-top: 8px;
}

.header-search i {
    color: var(--clr-white);
}

/* Hero Starts */

.hero-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content {
    text-align: center;
    display: grid;
    gap: 48px;
    width: 100%;
    color: var(--clr-white);
}

.hero-title {
    font-size: 6rem;
    font-weight: 600;
    white-space: nowrap;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: #E3E3E3;
}

.hero-action {
    padding: 16px 28px 16px 28px;
    border: 1px solid #FFE500;
    width: fit-content;
    margin-inline: auto;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(227, 227, 227, 10%);

    & i {
        margin-left: 8px;
    }
}


/* Campaigns Starts */

#campaigns {
    background: var(--clr-secondary);
}

.campaign-cards-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 27px;
}

.campaign-card {
    width: 352px;
    height: 597px;
    border-radius: 20px;
    background: var(--clr-white);
}

.card-img {
    height: 352px;
    width: 352px;

    & img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-inline: auto;
    margin-top: 20px;
}

.card-content .card-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 21px;
    color: #24272E;
    font-family: "DM Sans", sans-serif;
    ;
}

.card-content .card-desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
    color: #7C7D82;
    font-family: "DM Sans", sans-serif;
    ;
}

/* About Starts */

.section-side-wrapper {
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.section-side-title {
    font-size: 3.2rem;
    font-weight: 600;
}

.section-side-subtitle {
    font-size: 2rem;
    font-weight: 400;
    line-height: 30px;
    color: #667085;
    text-align: left;
}

.about-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.section-side-wrapper {
    flex-basis: 35%;
}

.about-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-card-img {
    width: 328px;
    height: 415px;
    overflow: hidden;
    border-radius: 16px;

    & img {
        transition: 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        img {
            transform: scale(1.20);
        }
    }
}

.about-image-card-title {
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 15px;
}

#about-cards-wrapper-padding{
    padding: 140px 0px 0px 0px;
}

/* Testiminials Starts */

#testimonials{
    padding: 80px 0px 80px 0px;
    background: var(--clr-secondary);
}

.testimonials-img-wrapper{
    /* display: flex; */
    padding:20px
}

.testimonials-img{
    width: 114px;
    height: 38px;
    margin-inline: auto;

    & img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.swiper-button-next, .swiper-button-prev {
    color: #585858 !important;
}
