/* Main Container */

.container {
  width: 100%;
  margin-inline: auto;
}

/* Flex Center*/

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flex Between */
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}